/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Titillium+Web:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Titillium Web", sans-serif;
  background-color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
h1 {
  font-size: 3rem;
  width: auto;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 3px;
  padding: 20px 20px;
  background-color: rgba(255, 0, 0, 0.4);
}
h2 {
  color: #f20505;
  font-size: 1.8rem;
  font-weight: normal;
  height: 150px;
}
span {
  font-size: 1.7rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
  padding: 15px 20px;
}
video {
  position: absolute;
  width: 100%;
  filter: blur(3px);
  opacity: 0.6;
}
.content {
  margin: 0 auto;
  width: 75%;
  padding: 0 20px;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* MOBILE VIEW */
@media (max-width: 1120px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 1rem;
    padding: 30px 30px;
    animation: iksAnim 5s 0s, alternate, infinite;
  }
  h2 {
    height: 120px;
  }

  /* .container_menu, */
  .container_iks-info,
  .container_teams,
  .container_volunteers,
  .container_fast-rules,
  .container_tournaments,
  .container_join-us,
  .container_story-iks,
  .container_footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    margin: 40px auto;
    background-color: #fff;
  }

  .container_iks-info {
    position: relative;
    top: 0;
    width: 100%;
    height: calc(100vw / 1.8);
    margin: 0 auto;
    background-color: #000;
    overflow: hidden;
  }

  .iks_title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
  }

  /* TEAMS  */
  .t-1,
  .t-2,
  .t-3 {
    flex-direction: column;
    width: 32%;
    margin: 0 5px;
  }
  .container_teams div,
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container_teams p {
    position: absolute;
    width: 98%;
    line-height: 125%;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 1.3rem;
    background-color: red;
    border-radius: 5px;
    opacity: 0.8;
  }
  .teams-1,
  .teams-2,
  .teams-3 {
    position: relative;
    flex-direction: column;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.6s;
  }
  .teams-1 img,
  .teams-2 img,
  .teams-3 img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid red;
    transition: 0.6s;
  }
  .teams-1 img:hover,
  .teams-2 img:hover,
  .teams-3 img:hover {
    border: 5px solid red;
    transform: rotate(15deg);
  }

  .iks-info {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  /* volunteers */
  .container_volunteers {
    transform: scale(0);
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .container_volunteers p {
    width: 50%;
    text-align: right;
  }
  .container_volunteers img {
    margin: 0 30px 0 0;
    border-radius: 20px;
    transition: 0.6s;
  }
  .container_volunteers > img {
    margin: 0;
    width: 35%;
  }
  section.container_volunteers img:nth-last-child(1) {
    width: 0% !important;
  }
  .container_volunteers img:hover {
    transform: scale(1.05);
  }

  /* fast rules */
  .container_fast-rules {
    flex-wrap: wrap;
    width: 85%;
  }
  .container_fast-rules img,
  .container_join-us img {
    margin: 0px 40px 20px 0;
    border-radius: 20px;
  }

  /* tournaments  */
  .container_tournaments {
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
  }
  .container_tournaments p {
    padding: 0 2px;
  }

  /* join us */
  .container_join-us {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container_join-us ol {
    width: 60%;
    list-style: none;
  }

  /* story iks */
  .container_story-iks {
    text-align: justify;
  }

  /* footer  */
  footer {
    color: #fff;
  }
  .container_footer {
    width: 100%;
    align-items: center;
    height: 270px;
    margin: 0 auto;
    background-color: #000;
  }
  .container_footer div:nth-child(even) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: url(img/iks_logo.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footer_content {
    width: 100%;
    height: auto;
    text-align: center;
    align-self: auto;
  }
  .footer_content p {
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
  }
}

/* desktop view */
@media (min-width: 1121px) {
  .container_menu,
  .container_iks-info,
  .container_teams,
  .container_volunteers,
  .container_fast-rules,
  .container_tournaments,
  .container_join-us,
  .container_story-iks,
  .container_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 40px auto;
    background-color: #fff;
  }
  .container_iks-info {
    position: relative;
    top: 0;
    width: 100%;
    max-width: none;
    height: 100vh;
    margin: 0 auto;
    background-color: #000;
    overflow: hidden;
  }

  .iks_title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
  }

  /* TEAMS  */
  .t-1,
  .t-2,
  .t-3 {
    flex-direction: column;
    width: 32%;
  }
  .container_teams div,
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container_teams p {
    position: absolute;
    width: 98%;
    line-height: 125%;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 1.3rem;
    background-color: red;
    border-radius: 5px;
    opacity: 0.8;
  }
  .teams-1,
  .teams-2,
  .teams-3 {
    visibility: hidden;
    position: relative;
    flex-direction: column;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.6s;
  }
  .teams-1 img,
  .teams-2 img,
  .teams-3 img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid red;
    transition: 0.4s;
  }
  .teams-1 img:hover,
  .teams-2 img:hover,
  .teams-3 img:hover {
    border: 5px solid red;
    transform: rotate(15deg);
  }

  .iks-info {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  /* volunteers */
  .container_volunteers {
    transform: scale(0);
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container_volunteers p {
    width: 25%;
    margin-right: 30px;
    text-align: right;
  }
  .container_volunteers img {
    margin: 20px 30px 20px 0;
    border-radius: 20px;
    transition: 0.6s;
  }
  .container_volunteers img:hover {
    transform: scale(1.05);
  }

  /* fast rules */
  .container_fast-rules {
    background: transparent;
    width: 85%;
    justify-content: center;
    align-items: center;
  }
  .container_fast-rules img,
  .container_join-us img {
    margin: 20px 50px 20px 0;
    border-radius: 20px;
  }

  /* tournaments  */
  .container_tournaments {
    width: 85%;
    align-items: center;
  }

  /* join us */
  .container_join-us {
    visibility: hidden;
    position: relative;
    right: 0%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .container_join-us ol {
    width: 40%;
    padding-left: 10px;
  }

  /* story iks */
  .container_story-iks {
    padding-bottom: 60px;
    text-align: justify;
  }

  /* footer  */
  footer {
    color: #fff;
    background-color: #000;
  }
  .container_footer {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    background-color: #000;
  }
  .container_footer div:nth-child(even) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: url(img/iks_logo.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footer_content {
    width: 350px;
    height: auto;
    text-align: center;
    align-self: auto;
  }
  .footer_content p {
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 2rem;
    background-color: #000;
  }
}
